<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Hotels in Sri Lanka</title>
  <style>
    body {
      font-family: 'MonterchiSerifLight';
      margin: 0;
      background: rgb(219, 217, 217);
    }

    .hero {
      height: 60vh;
      background: url("img/hotel_hero.jpg") no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 4px #000;
    }

    .hero h1 {
      font-size: 60px;
    }

    .section-title {
      text-align: center;
      margin-top: 30px;
      font-size: 28px;
      color:navy;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }

    .card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 280px;
      margin: 15px;
      text-align: center;
      padding: 20px;
    }

    .card img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
    }

    .card h3 {
      margin-top: 10px;
      font-size: 20px;
    }

    .btn {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 15px;
      background-color: navy;
      color: white;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
    }
    button{
        background-color: navy;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }


  </style>
</head>
<body>

  <section class="hero">
    <div class="hero-content">
      <h1>Hotels in Sri Lanka</h1>
    </div>
  </section>

  <main>

    <!-- 5 Star Hotels -->
    <h2 class="section-title">⭐⭐⭐⭐⭐ 5-Star Hotels (Luxury Class)</h2>
    <section class="features">
      <div class="card">
        <img src="img/cinnamon-grand.jpg" alt="Cinnamon Grand Colombo">
        <h3>Cinnamon Grand Colombo</h3>
        <a class="btn" href="https://www.cinnamonhotels.com/cinnamon-grand-colombo" target="_blank">
        <button>View Website</button> 
        </a>
      </div>

      <div class="card">
        <img src="img/shangri-la.jpg" alt="Shangri-La Colombo">
        <h3>Shangri-La Colombo</h3>
        <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjPmvGn9e-MAxUR_kwCHZrYI7YYABABGgJ0bQ&co=1&ase=2&gclid=CjwKCAjwn6LABhBSEiwAsNJrjoGN2Q4kEMeWW1DEq8xfjUbB4n9PlpAX3R_jFaryz9GjK82OSqmVhRoCJ70QAvD_BwE&ohost=www.google.com&cid=CAESVuD2F8Bj7h3lZAhuCipVcpv-8u4OIB8TzeCHgVltExLp4Ow1jmKfH1hXx-V3_4SmZ0wY-U22oJ7IyF5uZVUFlCfb5gVyXFsdfFWhsHVAmk9h7nN0iiO0&sig=AOD64_3kKZRWDJkGlhjA5BLVfcEvUDJgLQ&q&nis=4&adurl&ved=2ahUKEwjEkOin9e-MAxXuaPUHHU_AH80Q0Qx6BAgaEAE" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/taj.jpg" alt="Taj Samudra Colombo">
        <h3>Taj Samudra – Colombo</h3>
        <a class="btn" href="https://www.tajhotels.com/en-in/hotels/taj-samudra-colombo" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/kingsbury.jpg" alt="The Kingsbury Colombo">
        <h3>The Kingsbury Colombo</h3>
        <a class="btn" href="https://www.thekingsburyhotel.com/" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/mountlavinia.jpg" alt="Mount Lavinia Colombo">
        <h3>Mount Lavinia Colombo</h3><br>
        <a class="btn" href="https://www.mountlaviniahotel.com/" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/jetwing.jpg" alt="Jetwing Lighthouse – Galle">
        <h3>Jetwing Lighthouse – Galle</h3><br>
        <a class="btn" href="https://www.jetwinghotels.com/jetwinglighthouse/" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/anantara.jpg" alt="Anantara Peace Haven – Tangalle">
        <h3>Anantara Peace Haven – Tangalle</h3>
        <a class="btn" href="https://www.anantara.com/en/peace-haven-tangalle" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/galadari.jpg" alt="Galadari Colombo">
        <h3>Galadari Colombo</h3><br>
        <a class="btn" href="https://www.galadarihotel.lk/" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/ulagalla.jpg" alt="Uga Ulagalla – Anuradhapura">
        <h3>Uga Ulagalla – Anuradhapura</h3>
        <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjmg6zvrPCMAxW0XA8CHbPkNLQYABAAGgJ0Yg&co=1&gclid=CjwKCAjwwqfABhBcEiwAZJjC3ibSkfgtO8B4GF0czhx-cnzJLP9EX3eSPT6Zj-dKSehb9DmDZyDjuRoCsuoQAvD_BwE&ohost=www.google.com&cid=CAESVuD230bPYdth7NU9YuIzVm6UNsTaFYS0Ugoy4lEtSNbw-4tqEKjjLu0RBZJseYCT-7kFtxarRQLWt78zUJNZ4vzyqceu8266BMGhPtURWcOpn7aALahR&sig=AOD64_3NFg0khcKOM9RnAnfLwCUN7mgD1w&q&adurl&ved=2ahUKEwiPoaXvrPCMAxWxZ_UHHQMKMw8Q0Qx6BAgcEAE" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/heritance-kandalama.jpg" alt="Heritance Kandalama">
        <h3>Heritance Kandalama</h3>
        <a class="btn" href="https://www.heritancehotels.com/kandalama/" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/98acres.jpg" alt="98 Acres Resort & Spa - Ella">
        <h3>98 Acres Resort & Spa - Ella</h3>
        <a class="btn" href="https://www.resort98acres.com/" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/weligama-bay-marriott.jpg" alt="Weligama Bay Marriott Resort & Spa">
        <h3>Weligama Bay Marriott</h3>
        <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjay_74r_CMAxVy10wCHWegGqMYABADGgJ0bQ&co=1&ase=2&gclid=CjwKCAjwwqfABhBcEiwAZJjC3k8LAS3jx7E-G03KCWHMMmBZR4KcJNZ4HoElNWY_MTWQJjhpBLUwWBoCDykQAvD_BwE&ohost=www.google.com&cid=CAESVuD2dWjgfiQxzZ_D4U1DqRQv7h4AyIaprf-Gf2GvFsrPcWSjp7B4XSW3x2qx3dpShMHvSkv0VwoUL5iTa0FkPPrkiECu09639Yt82xXuemgBAMLC9lQ5&sig=AOD64_2TJeaofaYideWqsOPAoWv0CcS2RQ&q&nis=4&adurl&ved=2ahUKEwiowvf4r_CMAxW7dvUHHcgWGA8Q0Qx6BAgYEAE" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/ratnadipa.jpg" alt="ITC Ratnadipa">
        <h3>ITC Ratnadipa</h3>
        <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwi5m47d2fKMAxUSXA8CHQ-NAiYYABAFGgJ0Yg&co=1&gclid=Cj0KCQjw5azABhD1ARIsAA0WFUGDG7zvGPx5vpaKnqg1IYHktTWJ7ylqAZRhU7OeCfJ5nENTuGserksaAp2NEALw_wcB&ohost=www.google.com&cid=CAESVuD2B3dSz6Km4pGgFfmIYSQDJqfbibHp3WSe1DD61JXs7p9hbuiW9CbDboSOWG0xfTXCOag0iDyVXWex8ak4iK68ycNLPRgI2SDiJWIBFYbOPywlIR_2&sig=AOD64_3ePjca_7pBL4cNpUQjjrZEiOAQXg&q&adurl&ved=2ahUKEwjpn4jd2fKMAxW4oK8BHVroJGkQ0Qx6BAgZEAE" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/radisson.jpg" alt="Radisson Blu Resort, Galle">
        <h3>Radisson Blu Resort, Galle</h3>
        <a class="btn" href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-galle" target="_blank">
        <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/jetwingblue.jpg" alt="Jetwing Blue">
        <h3>Jetwing Blue</h3>
        <a class="btn" href="https://www.jetwinghotels.com/jetwingblue/" target="_blank">
        <button>View Website</button>
        </a>
      </div>
    </section>

    <!-- 4 Star Hotels -->
<h2 class="section-title">⭐⭐⭐⭐ 4-Star Hotels (Premium Comfort)</h2>
<section class="features">
  <div class="card">
    <img src="img/cinnamon-lakeside.jpg" alt="Cinnamon Lakeside Colombo">
    <h3>Cinnamon Lakeside Colombo</h3>
    <a class="btn" href="https://www.cinnamonhotels.com/cinnamon-lakeside-colombo" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/araliya-green-hills.jpg" alt="Araliya Green Hills - Nuwara Eliya">
    <h3>Araliya Green Hills</h3>
    <a class="btn" href="https://www.araliyaresorts.com/araliya-green-hills/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/amaya-beach.jpg" alt="Amaya Beach - Pasikuda">
    <h3>Amaya Beach - Pasikuda</h3>
    <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiplfivmvGMAxWMDHsHHfDzFlUYABACGgJ0bQ&co=1&gclid=CjwKCAjwwqfABhBcEiwAZJjC3kzxi_eYdAUiJmQfiqEQkDwJRRRkhkLzj8ZhllxtBDxl-Lmd0MKUjhoCK_0QAvD_BwE&ohost=www.google.com&cid=CAESVuD2jvuQMpWM5_BvfEvhuOPiG_eCQXRfI2cTV4wFnYcc--H6FxFe-2e1nz-VIJxnM09lcTv_aDG6ksg3XmLWCJPZ9ER3zrGj6eG2H1mN-3BXNl8fg4U0&sig=AOD64_2z9bdAty38hqEIJ_H6drdIz61kuA&q&adurl&ved=2ahUKEwjFrPKvmvGMAxUSa_UHHf4wLgkQ0Qx6BAgeEAQ" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/blue-water.jpg" alt="The Blue Water - Wadduwa">
    <h3>The Blue Water - Wadduwa</h3>
    <a class="btn" href="https://www.bluewatersrilanka.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/galle-face-hotel.jpg" alt="Galle Face Hotel - Colombo">
    <h3>Galle Face Hotel</h3>
    <a class="btn" href="https://gallefacehotel.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/mountbatten.jpg" alt="Mountbatten Bungalow - Kandy">
    <h3>Mountbatten Bungalow - Kandy</h3>
    <a class="btn" href="https://www.themacollection.com/mountbatten-bungalow/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/grand-serendib.jpg" alt="Grand Serendib Hotel - Kandy">
    <h3>Grand Serendib - Kandy</h3>
    <a class="btn" href="https://grandserendibhotel.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/hotel-topaz.jpg" alt="Hotel Topaz - Kandy">
    <h3>Hotel Topaz - Kandy</h3>
    <a class="btn" href="https://www.topaz.lk/" target="_blank">
      <button>View Website</button>
    </a>
  </div>
</section>


    <!-- 3 Star Hotels -->
    <h2 class="section-title">⭐⭐⭐ 3-Star Hotels</h2>
    <section class="features">
      <div class="card">
        <img src="img/colombo-city.jpg" alt="Colombo City Hotel">
        <h3>Colombo City Hotel</h3><br>
        <a class="btn" href="https://www.colombocityhotel.com/" target="_blank">
          <button>View Website</button>
        </a>
      </div>

  <div class="card">
    <img src="img/hotel-janaki.jpg" alt="Hotel Janaki - Colombo">
    <h3>Hotel Janaki - Colombo</h3><br>
    <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjW862Go_GMAxWrOHsHHaXzOxoYABABGgJ0bQ&co=1&gclid=CjwKCAjwwqfABhBcEiwAZJjC3heFCNPG9LUlmmqddMjq1HtV80pcDQ_DyINJF8y87Vv12t1jBVmbRRoCGG8QAvD_BwE&ohost=www.google.com&cid=CAESVuD2m2G2ZaD-IJSbqTRusC5UQhxJXnXjG3s3AecrJPK9z6_V9-UEUCo7eQ8foG6CMbO9yZGdFaRkUp69kgEbTRvdS6KQzJe9R2BT8UVCr5NV4UhKaDe4&sig=AOD64_2d7q6aGxLV13PihqWj1P2R5Is-kw&q&adurl&ved=2ahUKEwjGtaaGo_GMAxWxbfUHHX-mNlkQ0Qx6BAgYEAQ" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/oakray.jpg" alt="Oak Ray Summer Hill Breeze - Nuwara Eliya">
    <h3>Oak Ray Summer Hill Breeze - Nuwara Eliya</h3>
    <a class="btn" href="https://www.booking.com/Share-FvfuC9" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/coral-sands.jpg" alt="Coral Sands Hotel - Hikkaduwa">
    <h3>Coral Sands - Hikkaduwa</h3><br>
    <a class="btn" href="https://www.coralsandshotel.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/thilanka.jpg" alt="Thilanka Hotel - Kandy">
    <h3>Thilanka Hotel - Kandy</h3><br>
    <a class="btn" href="http://www.thilankahotel.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>


  <div class="card">
    <img src="img/villaspring.jpg" alt="Spring Villa Hotel - Nuwara Eliya">
    <h3>Villa Spring Acre - Nuwara Eliya</h3>
    <a class="btn" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjetK255vKMAxWk-0wCHeq-A9AYABAAGgJ0bQ&co=1&gclid=Cj0KCQjw5azABhD1ARIsAA0WFUFaibDc58kpO9K0gzh8OVmHX5FBo0EEQtyxOVro9EB2VJla25E-E1EaAq-zEALw_wcB&ohost=www.google.com&cid=CAESVuD24_mhpr8TE9EcgGtGPcGG7CL3dxHTLzqsDfREewl6SMtgY1jng2bde7F_PE2GRW8MXGrGOo0lJEp0l8HxRYavrifu5HN1af591Mq8NocwBXAO1n2U&sig=AOD64_1-F_pT3kbNRv1Y0zNstKd1JXHI6Q&q&adurl&ved=2ahUKEwjGs6W55vKMAxU6UPUHHRSQOu0Q0Qx6BAgZEAQ" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/opulent.jpg" alt="Opulent River Face Hotel">
    <h3>Opulent River Face Hotel</h3><br>
    <a class="btn" href="https://www.opulentriverfacehotel.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>
</section>


    <!-- 2 Star Hotels -->
<h2 class="section-title">⭐⭐ 2-Star Hotels (Budget-Friendly Comfort)</h2>
<section class="features">
  <div class="card">
    <img src="img/solis.jpg" alt="Solis Hotel">
    <h3>Solis Hotel</h3>
    <a class="btn" href="https://solis.lk/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/shanelo.jpg" alt="Hotel Sandalu - Negombo">
    <h3>Hotel Shanelo - Negombo</h3>
    <a class="btn" href="https://hotelshanelo.lk/" target="_blank">
      <button>View Website</button>
    </a>
  </div>

  <div class="card">
    <img src="img/viluxey.jpg" alt="Viluxey City Hotel">
    <h3>Viluxey City Hotel</h3>
    <a class="btn" href="https://www.viluxey.com/" target="_blank">
      <button>View Website</button>
    </a>
  </div>
</section>


    <!-- 1 Star Hotels 
    <h2 class="section-title">⭐ 1-Star Hotels</h2>
    <section class="features">
      <div class="card">
        <img src="img/dickwellabeach.jpg" alt="Dickwella Beach Hotel">
        <h3>Dickwella Beach Hotel</h3>
        <a class="btn" href="https://dickwellabeach.lk/" target="_blank">
          <button>View Website</button>
        </a>
      </div>

      <div class="card">
        <img src="img/beachview.jpg" alt="Beach View Hotel – Trincomalee">
        <h3>Beach View Hotel – Trincomalee</h3>
        <a class="btn" href="https://www.facebook.com/beachviewtrinco" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"> Facebook
        </a>
      </div>
    </section>-->

  </main>

</body>
</html>
