<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bride Welcoming Ceremony</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="hero-section-bridewelcome">
    <div class="hero-image-wrapper-bridewelcome">
    <img src="img/bride welcome.jpeg" alt="Bride Welcoming Ceremony" class="hero-image" />
    <div class="hero-text-bridewelcome">
      <h1>Bride Welcoming Ceremony</h1>
      <p class="subtitle"><i>A graceful beginning to a lifetime of togetherness.</i></p>
    </div>
  </div>
    <div class="content-section">
        <div class="card-bridewelcome">
          <p>
            The bride welcoming ceremony is a heartfelt tradition that marks the bride's arrival into her <br>
            new family. With rituals, music, and joyful blessings, it celebrates love, <br>
             acceptance, and the beginning of a shared life.
          </p>
        </div>
    </div>
   </div>
    
    <div class="subcategory-container">

        <div class="subcategory-card-bridewelcome">
          <img src="img/traditional rituals.jpg" alt="Traditional Rituals" />
          <div class="text">
          <h3>Traditional Rituals & Customs</h3>
          <p>Cultural practices like aarti, rice tossing, and symbolic blessings that welcome the bride warmly.</p>
          
        </div>
    </div>

        <div class="subcategory-card-bridewelcome">
          <img src="img/decor9090.jpg" alt="Elegant Home Decor" />
          <div class="text">
          <h3>Elegant Home Decor</h3>
          <p>Floral setups, lights, and cultural designs to create a beautiful and sacred welcome space.</p>
          <br>
          <a href="/decorators" class="subcategory-btn-bridewelcome">Explore decorations</a>
        </div>
    </div>
    
        <div class="subcategory-card-bridewelcome">
          <img src="img/gifts.jpg" alt="Welcoming Gifts" />
          <div class="text">
          <h3>Welcoming Gifts</h3>
          <p>Special gifts or keepsakes offered to the bride as part of her welcome ritual.</p><br>
          <a href="/GiftShops" class="subcategory-btn-bridewelcome">Browse gift ideas</a>
        </div>
    </div>
    
    
        <div class="subcategory-card-bridewelcome">
          <img src="img/meal.jpg" alt="First Meal" />
          <div class="text">
          <h3>Food and drinks</h3>
          <p>Highlights the special meals and drinks shared to mark this joyous occasion.</p><br>
          <a href="/catering_services" class="subcategory-btn-bridewelcome">See catering ideas</a>
        </div>
    </div>
    
    
       
  </div>

 
</body>
</html>

