<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catering Services</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <style>
      .hero-linksitesosh {
  position: relative;
  height: 70vh; /* or any height you want */
  background: url("/img/Catering Sevices bg.jpg") no-repeat center center;
  background-size: 100% 100%; /* full height, auto width */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-linksitesosh {
      
    background-color: #e93c44;
  }
  .card-linksitesosh img {
    width: 100%;
    border-radius: 10px;
    height: 175px;
    margin-bottom: 1rem;
  }
        .gallery-linksitesosh {
          margin-top: 20px;
          display: flex;
          overflow-x: auto;
          gap: 10px;
          padding-bottom: 10px;
        }
    
        .gallery-linksitesosh img {
          height: 200px;
          width: auto;
          border-radius: 10px;
          flex-shrink: 0;
        }</style>
    
    <section class="hero-linksitesosh">
      
      <div class="hero-content-linksitesosh">
        <h1>Catering Services</h1>
        
    
      </div>
    </section>
  </header>

  <main>
    <section class="description-linksitesosh" id="more">
      
    </section>

    <section class="features-linksitesosh">

      <div class="card-linksitesosh">
        <img src="/img/C1.png" alt="5-1">
        <h3>Warna Caterers</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C1-1.jpg" alt="Wedding 1">
          <img src="/img/C1-2.jpg" alt="Wedding 2">
          <img src="/img/C1-3.jpg" alt="Wedding 3">
          <img src="/img/C1-4.jpg" alt="Wedding 4">
          <img src="/img/C1-5.jpg" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.warnacaterers.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C2.avif" alt="5-1">
        <h3>Green Cabin</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C2-1.avif" alt="Wedding 1">
          <img src="/img/C2-2.avif" alt="Wedding 2">
          <img src="/img/C2-3.avif" alt="Wedding 3">
          <img src="/img/C2-4.avif" alt="Wedding 4">
          <img src="/img/C2-4.avif" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.greencabin.lk/catering">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C3.png" alt="5-1">
        <h3>YAMU Caterers</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C3-1.jpeg" alt="Wedding 1">
          <img src="/img/C3-2.jpeg" alt="Wedding 2">
          
        </div>
        
        <a class="btn-linksitesosh" href="https://www.yamu.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C4.png" alt="5-1">
        <h3>Excel World</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C4-1.png" alt="Wedding 1">
          
        </div>
        
        <a class="btn-linksitesosh" href="https://www.excelworld.lk/outdoor-catering/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/C5.png" alt="5-1">
        <h3>Tasty Caterers</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C5-1.png" alt="Wedding 1">
          <img src="/img/C5-2.png" alt="Wedding 2">
          <img src="/img/C5-3.png" alt="Wedding 3">
          <img src="/img/C5-4.png" alt="Wedding 4">
          <img src="/img/C5-5.png" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.tastycaterers.lk/wedding-events/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/C6.png" alt="5-1">
        <h3>Chana's Cateres</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C6-1.png" alt="Wedding 1">
          <img src="/img/C6-2.png" alt="Wedding 2">
          <img src="/img/C6-3.png" alt="Wedding 3">
          <img src="/img/C6-4.png" alt="Wedding 4">
          <img src="/img/C6-5.png" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.chanas.lk/catering.html">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C7.png" alt="5-1">
        <h3>The Kingsbury Hotel</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C7-1.png" alt="Wedding 1">
          
        </div>
        
        <a class="btn-linksitesosh" href="https://www.thekingsburyhotel.com/weddings/wedding-packages-and-menus">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C8.png" alt="5-1">
        <h3>Perera And Sons</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C8-1.jpeg" alt="Wedding 1">
          
        </div>
        
        <a class="btn-linksitesosh" href="https://pereraandsons.com/catering/">Visit Website</a>
      </div>
      

      <div class="card-linksitesosh">
        <img src="/img/C9.jpeg" alt="5-1">
        <h3>STEAM BOAT Restaurant</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C9-1.png" alt="Wedding 1">
          <img src="/img/C9-2.png" alt="Wedding 2">
          <img src="/img/C9-3.png" alt="Wedding 3">
          <img src="/img/C9-4.png" alt="Wedding 4">
          <img src="/img/C9-5.png" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.steamboat.lk/catering-services.html">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C10.PNG" alt="5-1">
        <h3>Hot Pack Catering</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C10-1.png" alt="Wedding 1">
          <img src="/img/C10-2.png" alt="Wedding 2">
          <img src="/img/C10-3.png" alt="Wedding 3">
          <img src="/img/C10-4.png" alt="Wedding 4">
          <img src="/img/C10-5.png" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.hotpackcatering.lk/outdoor.html">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C11.png" alt="5-1">
        <h3>Sarath Caterers</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C11-1.png" alt="Wedding 1">
          <img src="/img/C11-2.png" alt="Wedding 2">
          <img src="/img/C11-3.png" alt="Wedding 3">
          <img src="/img/C11-4.png" alt="Wedding 4">
          <img src="/img/C11-5.png" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.sarathcaterers.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/C12.PNG" alt="5-1">
        <h3>Raffles Colombo</h3>
        <h4>Menu</h4>
        
        <div class="gallery-linksitesosh">
          <img src="/img/C12-1.png" alt="Wedding 1">
          <img src="/img/C12-2.png" alt="Wedding 2">
          <img src="/img/C12-3.png" alt="Wedding 3">
          <img src="/img/C12-4.png" alt="Wedding 4">
          <img src="/img/C12-5.png" alt="Wedding 5">
        </div>
        
        <a class="btn-linksitesosh" href="https://www.rafflescolombo.com/cateringEventMenu">Visit Website</a>
      </div>

    </section>
  </main>
</body>
</html>