<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DJ Music</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <style>
      .hero-linksitesosh {
  position: relative;
  height: 70vh; /* or any height you want */
  background: url("/img/DJ bg.webp") no-repeat center center;
  background-size: 100% 100%; /* full height, auto width */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-linksitesosh {
      
    background-color: #e93c44;
  }
  .card-linksitesosh img {
    width: 100%;
    border-radius: 10px;
    height: 175px;
    margin-bottom: 1rem;
  }
        .gallery-linksitesosh {
          margin-top: 20px;
          display: flex;
          overflow-x: auto;
          gap: 10px;
          padding-bottom: 10px;
        }
    
        .gallery-linksitesosh img {
          height: 200px;
          width: auto;
          border-radius: 10px;
          flex-shrink: 0;
        }</style>
    
    <section class="hero-linksitesosh">
      
      <div class="hero-content-linksitesosh">
        <h1>DJ Music</h1>
        
    
      </div>
    </section>
  </header>

  <main>
    <section class="description-linksitesosh" id="more">
      
    </section>

    <section class="features-linksitesosh">

      <div class="card-linksitesosh">
        <img src="/img/DJ-1.png" alt="5-1">
        <h3>DJ Max</h3>
      
        
        <a class="btn-linksitesosh" href="https://djmax.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/DJ-2.jpg" alt="5-1">
        <h3>PRO DJ Entertainment Sri Lanka </h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/djryansl">Visit Facebook Page</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/DJ-3.png" alt="5-1">
        <h3>DJ ASH</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.djash.lk/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/DJ-4.JPG" alt="5-1">
        <h3>Jayanga Gamage</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/djjayanga">Visit Facebook Page</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/DJ-5.jpg" alt="5-1">
        <h3>DJ Dash</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/DJDASHSL">Visit Facebook Page</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/DJ-6.jpg" alt="5-1">
        <h3>Beat System Entertainment </h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/BeatSystemEntertainment/">Visit Facebook Page</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/DJ-7.jpg" alt="5-1">
        <h3>Dj NVE</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/Dj.NVE.Music.Enternatinment">Visit Facebook Page</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/DJ-8.jpg" alt="5-1">
        <h3>Evolver</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/EvolverLK/">Visit Facebook Page</a>
      </div>

      
    </section>
  </main>
</body>
</html>