
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
  <style>
     body {
      font-family: Arial, sans-serif;
      margin: 0;
      text-align: center;
      background-color: #f5d68f;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .gallery-linksitesosh {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      max-width: 95%;
      margin: 0 auto;
    }

    .event-box-linksitesosh {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
    }

    .event-box-linksitesosh img {
      width: 100%;
    border-radius: 10px;
    height: 400px;
    }
    

    .event-box-linksitesosh button {
      margin-top: 10px;
      position: absolute;
      bottom: 15px;
      left: 50%;
      height: 50px;
      width: 80%;
      transform: translateX(-50%);
      background-color: red;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;
    }

    .event-box-linksitesosh button:hover {
      background-color: darkred;
    }</style>
  
  <section class="hero-linksitesosh">
  <br><br><br><br><br>
  <h2>CHOOSE YOUR ENTERTAINMENT TYPE</h2>
  <BR><BR>
    
  </section>
</header>

  


  <div class="gallery-linksitesosh">
    <div class="event-box-linksitesosh">
      <img src="/img/DJ.jpeg" alt="Event 1">
      <a href="/DJ"><button>DJ Music</button></a>
    </div>
    <div class="event-box-linksitesosh">
      <img src="/img/Music.jpg" alt="Event 2">
      <a href="/musical_band"><button>Musical Bands</button></a>
    </div>
    <div class="event-box-linksitesosh">
      <img src="/img/Dancing Group.jpg" alt="Event 3">
      <a href="/dancing_groups_girls"><button>Dancing Groups(Girls)</button></a>
    </div>
    <div class="event-box-linksitesosh">
      <img src="/img/Kandyan Dance.jpg" alt="Event 4">
      <a href="/kandyan_dance"><button>Kandyan Dancing Groups</button></a>
    </div>
    <div class="event-box-linksitesosh">
      <img src="/img/Low Country Dance.jpeg" alt="Event 5">
      <a href="/low_country_dance"><button>Low Country Dancing Groups</button></a>
    </div>
  </div>

</body>
</html>
