    <!-- Hero Section -->
    <section class="hero">
      <h1>FIORE</h1>
      <a href="#sec-title">
        <button class="btn">Start Planning</button>
    </a>
  </section>


 <!-- Event Selection Section -->
  <section id="eventypes" class="section">
    <h2 id="sec-title" class="section-title">CHOOSE YOUR EVENT TYPE</h2>
    <div class="events">
      <div class="image-card">
        <a href="/weddings">
        <img src="/img/Stephanie_Jackson_Whimsical-Fairytale-Wedding_B-Captured-by-Ky-Luu_022-scaled.jpg" alt="Wedding Image">
        <div class="event-caption">
          <h1>Weddings</h1>
          <p class="event-description">Your wedding is more than just an event; it’s a celebration of love and connection. With our AI-powered event planning tools, we help you craft a day that reflects your unique story. 
            From personalized recommendations on venues to mood-setting décor and timing adjustments, 
            our platform learns your preferences and offers tailored solutions that make planning effortless. Let us handle the details while you focus on creating unforgettable memories with your loved ones.</p>
        </div>
      </a>
      </div>
      <div class="image-card">
        <a href="/birthday-parties">
        <img src="/img/Stephanie_Jackson_Whimsical-Fairytale-Wedding_B-Captured-by-Ky-Luu_022-scaled.jpg" alt="Events Image">
        <div class="event-caption">
          <h1>Birthday Parties</h1>
          <p class="event-description">Birthdays are about joy, surprises, and celebrating life in the best possible way. Our AI-driven approach ensures your party stands out by curating personalized experiences based on your interests and guests. 
            Whether it’s an intimate gathering or a grand bash, we help you plan every moment – from theme suggestions to perfect party favors. 
            Say goodbye to stress and hello to a birthday that feels truly special and effortlessly fun.</p>
        </div>
        </a>
      </div>
      <div class="image-card">
        <a href="/other-gatherings">
        <img src="/img/Stephanie_Jackson_Whimsical-Fairytale-Wedding_B-Captured-by-Ky-Luu_022-scaled.jpg" alt="Parties Image">
        <div class="event-caption">
          <h1>Other Gatherings</h1>
          <p class="event-description">Every gathering is a chance to make meaningful memories with those you care about. Whether it’s a family reunion, 
            a casual meetup, or a milestone event, our AI tools provide creative ideas and smart solutions to make your occasion as unique as the people attending. We offer thoughtful recommendations on venues, activities, and logistics, 
            so you can relax and enjoy the time spent with your friends and family, knowing that everything is taken care of.</p>
        </div>
        </a>
      </div>
    </div>
  </section>
