<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Invitation Card Printers</title>
  <style>
    body {
      font-family: 'MonterchiTextBook';
      margin: 0;
      background:white;
    }

    .hero {
      height: 60vh;
      background: url("img/invitation_hero.jpg") no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 4px #000;
    }

    .hero h1 {
      font-size: 60px;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }

    .card {
      background: rgb(216, 215, 215);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 280px;
      margin: 15px;
      text-align: center;
      padding: 20px;
    }

    .card img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }

    .card h3 {
      margin-top: 10px;
      font-size: 20px;
    }

    .btn {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 15px;
      background-color: #1877f2;
      color: white;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

    .btn img {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-right: 5px;
    }
  </style>
</head>
<body>

<section class="hero">
  <div class="hero-content">
    <h1>Invitation Card Printers</h1>
  </div>
</section>

<main>
  <section class="features">
    <div class="card">
      <img src="img/printer1.jpg" alt="InvitationStore.lk">
      <h3>InvitationStore.lk</h3>
      <a class="btn" href="https://www.facebook.com/share/18zGyCCixk/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
      </a>
    </div>

    <div class="card">
      <img src="img/printer2.jpg" alt="Royal Invitations">
      <h3>Pearl Advertising</h3>
      <a class="btn" href="https://www.facebook.com/profile.php?id=100072090023968&mibextid=ZbWKwL" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
      </a>
    </div>

    <div class="card">
      <img src="img/printer3.jpg" alt="Print Studio">
      <h3>The Ruuz Wedding Bells</h3>
      <a class="btn" href="https://www.facebook.com/share/16G5wHkbbq/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
      </a>
    </div>

    <div class="card">
      <img src="img/printer4.jpg" alt="Fine Card Works">
      <h3>RN Graphics</h3>
      <a class="btn" href="https://www.facebook.com/share/1DYyG6iLYf/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
      </a>
    </div>

    <div class="card">
      <img src="img/printer5.jpg" alt="Card Factory">
      <h3>Cardstock</h3>
      <a class="btn" href="https://www.facebook.com/share/16GaDoLZs5/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
      </a>
    </div>

    <div class="card">
        <img src="img/printer6.jpg" alt="Card Factory">
        <h3>Craft 51(The Wedding Card)</h3>
        <a class="btn" href="https://www.facebook.com/share/18jgGMBy3H/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/printer7.jpg" alt="Card Factory">
        <h3>AZONE</h3>
        <a class="btn" href="https://www.facebook.com/share/1AFAUYkUyt/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/printer8.jpg" alt="Card Factory">
        <h3>Ush Creations</h3>
        <a class="btn" href="https://www.facebook.com/share/1KM2tXV3kp/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/printer9.jpg" alt="Card Factory">
        <h3>Elegant Store</h3>
        <a class="btn" href="https://www.facebook.com/share/1942wiG1TK/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>
  
      <div class="card">
          <img src="img/printer10.jpg" alt="Card Factory">
          <h3>WED'N BLISS</h3>
          <a class="btn" href="https://www.facebook.com/share/1A3PyNxBv7/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
          </a>
        </div>
  
        <div class="card">
          <img src="img/printer11.jpg" alt="Card Factory">
          <h3>Bright collection</h3>
          <a class="btn" href="https://www.facebook.com/share/1F4yRq7bcv/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
          </a>
        </div>
  
        <div class="card">
          <img src="img/printer12.jpg" alt="Card Factory">
          <h3>Royalcards</h3>
          <a class="btn" href="https://www.facebook.com/share/1XbDGFLm76/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
          </a>
        </div>

  </section>
</main>

</body>
</html>
