<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jewellery Shops</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <style>
      .hero-linksitesosh {
  position: relative;
  height: 70vh; /* or any height you want */
  background: url("/img/Jewellery Shops bg.jpg") no-repeat center center;
  background-size: 100% 100%; /* full height, auto width */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-linksitesosh {
      
    background-color: #e93c44;
  }
  .card-linksitesosh img {
    width: 100%;
    border-radius: 10px;
    height: 175px;
    margin-bottom: 1rem;
  }
        .gallery-linksitesosh {
          margin-top: 20px;
          display: flex;
          overflow-x: auto;
          gap: 10px;
          padding-bottom: 10px;
        }
    
        .gallery-linksitesosh img {
          height: 200px;
          width: auto;
          border-radius: 10px;
          flex-shrink: 0;
        }</style>
    
    <section class="hero-linksitesosh">
      
      <div class="hero-content-linksitesosh">
        <h1>Jewellery Shops</h1>
        
    
      </div>
    </section>
  </header>

  <main>
    <section class="description-linksitesosh" id="more">
      
    </section>

    <section class="features-linksitesosh">

      <div class="card-linksitesosh">
        <img src="/img/S1.jpeg" alt="5-1">
        <h3>Vogue Jewellers</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.voguejewellers.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/S2.jpeg" alt="5-1">
        <h3>Raja Jewelers</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.rajajewellers.com/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/S3.png" alt="5-1">
        <h3>Devi Jewellers</h3>
      
        
        <a class="btn-linksitesosh" href="https://devijewellers.lk/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/S4.png" alt="5-1">
        <h3>Ravi Jewellers</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.ravijewellers.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/S5.png" alt="5-1">
        <h3>Mallika Hemachandra Jewellers</h3>
      
        
        <a class="btn-linksitesosh" href="https://mallikahemachandra.com/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/S6.png" alt="5-1">
        <h3>Raddella Jewellers</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.raddellajewellers.com/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/S7.jpeg" alt="5-1">
        <h3>Swarnamahal Jewellers Ltd</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.swarnamahal.lk/">Visit Website</a>
      </div>

      <div class="card">
        <img src="/img/S8.png" alt="5-1">
        <h3>Chamathka Jewellers</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.chamathkajewellers.lk/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/S9.jpeg" alt="5-1">
        <h3>Sathies Jewellery</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.sathiesjewellery.com/">Visit Website</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/S10.png" alt="5-1">
        <h3>Dinidu Jewellery</h3>
      
        
        <a class="btn-linksitesosh" href="https://dinidu.com/">Visit Website</a>
      </div>
    </section>
  </main>
</body>
</html>