<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photographers</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <style>
      .hero-linksitesosh {
  position: relative;
  height: 70vh; /* or any height you want */
  background: url("/img/photographers bg.jpeg") no-repeat center center;
  background-size: 100% 100%; /* full height, auto width */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-linksitesosh img {
    width: 120px;       
  height: 120px;
  border-radius: 50%; 
  object-fit: cover;
  }
.btn-linksitesosh {
      
    background-color: #1cde36;
  }
        .gallery-linksitesosh {
          margin-top: 20px;
          display: flex;
          overflow-x: auto;
          gap: 10px;
          padding-bottom: 10px;
        }
    
        .gallery-linksitesosh img {
          height: 200px;
          width: auto;
          border-radius: 10px;
          flex-shrink: 0;
        }</style>
    
    <section class="hero-linksitesosh">
      
      <div class="hero-content-linksitesosh">
        <h1>Photographers</h1>
        
    
      </div>
    </section>
  </header>

  <main>
    <section class="description-linksitesosh" id="more">
      
    </section>

    <section class="features-linksitesosh">

      <div class="card-linksitesosh">
        <img src="/img/P1.jpg" alt="5-1">
        <h3>Jethro Rathnayake</h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P1-1.webp" alt="Wedding 1">
          <img src="/img/P1-2.webp" alt="Wedding 2">
          <img src="/img/P1-3.webp" alt="Wedding 3">
          <img src="/img/P1-4.webp" alt="Wedding 4">
          <img src="/img/P1-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/Jethrophotography/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94714885280&text=Hello+Jethro%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+jethro.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P2.jpg" alt="5-1">
        <h3>Rasindu Jayan</h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P2-1.webp" alt="Wedding 1">
          <img src="/img/P2-2.webp" alt="Wedding 2">
          <img src="/img/P2-3.webp" alt="Wedding 3">
          <img src="/img/P2-4.webp" alt="Wedding 4">
          <img src="/img/P2-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/rasindujayanphotography/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94768549361&text=Hello+Rasindu%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+ceylonparadise.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/P3.jpg" alt="5-3">
        <h3>Diniru Abeysuriya</h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P3-1.webp" alt="Wedding 1">
          <img src="/img/P3-2.webp" alt="Wedding 2">
          <img src="/img/P3-3.webp" alt="Wedding 3">
          <img src="/img/P3-4.webp" alt="Wedding 4">
          <img src="/img/P3-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/DsquaredPortraiture">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94706865946&text=Hello+Diniru%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+dsquared.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P4.jpg" alt="5-3">
        <h3>Kanishka M</h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P4-1.webp" alt="Wedding 1">
          <img src="/img/P4-2.webp" alt="Wedding 2">
          <img src="/img/P4-3.webp" alt="Wedding 3">
          <img src="/img/P4-4.webp" alt="Wedding 4">
          <img src="/img/P4-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/ALastingImpressionLK">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94765524558&text=Hello+Kanishka%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+kanishkam.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P5.jpg" alt="5-3">
        <h3>
          Chamalka Srimal
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P5-1.webp" alt="Wedding 1">
          <img src="/img/P5-2.webp" alt="Wedding 2">
          <img src="/img/P5-3.webp" alt="Wedding 3">
          <img src="/img/P5-4.webp" alt="Wedding 4">
          <img src="/img/P5-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/YararaPhotographyStudio">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94767674493&text=Hello+Chamalka%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+chamalka.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P6.jpg" alt="5-3">
        <h3>
          Dinesh Wanigarathna
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P6-1.webp" alt="Wedding 1">
          <img src="/img/P6-2.webp" alt="Wedding 2">
          <img src="/img/P6-3.webp" alt="Wedding 3">
          <img src="/img/P6-4.webp" alt="Wedding 4">
          <img src="/img/P6-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/ruwianddinesh">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94728771644&text=Hello+Dinesh%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+drcreations.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P7.jpg" alt="5-3">
        <h3>
          Malinda Rathnayaka
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P7-1.webp" alt="Wedding 1">
          <img src="/img/P7-2.webp" alt="Wedding 2">
          <img src="/img/P7-3.webp" alt="Wedding 3">
          <img src="/img/P7-4.webp" alt="Wedding 4">
          <img src="/img/P7-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/weddingsbymalindarathnayake/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94716018986&text=Hello+Malinda%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+ultimatepictures.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/P8.jpg" alt="5-3">
        <h3>Rinat Kuyshin
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P8-1.webp" alt="Wedding 1">
          <img src="/img/P8-2.webp" alt="Wedding 2">
          <img src="/img/P8-3.webp" alt="Wedding 3">
          <img src="/img/P8-4.webp" alt="Wedding 4">
          <img src="/img/P8-5.webp" alt="Wedding 5">
        </div>
        <a href="">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=79004584814&text=Hello+Rinat%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+rinatkuyshin.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P9.jpg" alt="5-3">
        <h3>Umesh Ranasinghe
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P9-1.webp" alt="Wedding 1">
          <img src="/img/P9-2.webp" alt="Wedding 2">
          <img src="/img/P9-3.webp" alt="Wedding 3">
          <img src="/img/P9-4.webp" alt="Wedding 4">
          <img src="/img/P9-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/umesh.ranasinghe/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=61436868582&text=Hello+Umesh%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+shutteru.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P10.jpg" alt="5-3">
        <h3>Charith Kodagoda
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P10-1.webp" alt="Wedding 1">
          <img src="/img/P10-2.webp" alt="Wedding 2">
          <img src="/img/P10-3.webp" alt="Wedding 3">
          <img src="/img/P10-4.webp" alt="Wedding 4">
          <img src="/img/P10-5.webp" alt="Wedding 5">
        </div>
        
        <a href="https://www.instagram.com/charithk_/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Instagram Account</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94768651588&text=Hello+Charith%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+revivalridge.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P11.jpg" alt="5-3">
        <h3>Enoch Balasooriya
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P11-1.webp" alt="Wedding 1">
          <img src="/img/P11-2.webp" alt="Wedding 2">
          <img src="/img/P11-3.webp" alt="Wedding 3">
          <img src="/img/P11-4.webp" alt="Wedding 4">
          <img src="/img/P11-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/enochbalasooriya/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94779389174&text=Hello+Enoch%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+theceylonbliss.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P12.jpg" alt="5-3">
        <h3>
          Banu Shanth
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P12-1.webp" alt="Wedding 1">
          <img src="/img/P12-2.webp" alt="Wedding 2">
          <img src="/img/P12-3.webp" alt="Wedding 3">
          <img src="/img/P12-4.webp" alt="Wedding 4">
          <img src="/img/P12-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/n.banushanth/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94772811999&text=Hello+Banu%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+photobanu.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P13.jpg" alt="5-3">
        <h3>
          Buddhika Jayawardana
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P13-1.webp" alt="Wedding 1">
          <img src="/img/P13-2.webp" alt="Wedding 2">
          <img src="/img/P13-3.webp" alt="Wedding 3">
          <img src="/img/P13-4.webp" alt="Wedding 4">
          <img src="/img/P13-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/buddhikajayawardanaphotography/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94772600658&text=Hello+Buddhika%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+buddhika.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P14.jpg" alt="5-3">
        <h3>Sampath Palliyaguruge
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P14-1.webp" alt="Wedding 1">
          <img src="/img/P14-2.webp" alt="Wedding 2">
          <img src="/img/P14-3.webp" alt="Wedding 3">
          <img src="/img/P14-4.webp" alt="Wedding 4">
          <img src="/img/P14-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/awarjanapg">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94777565365&text=Hello+Sampath%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+sampathf1.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P15.jpg" alt="5-3">
        <h3>Evgenii Katsinis
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P15-1.webp" alt="Wedding 1">
          <img src="/img/P15-2.webp" alt="Wedding 2">
          <img src="/img/P15-3.webp" alt="Wedding 3">
          <img src="/img/P15-4.webp" alt="Wedding 4">
          <img src="/img/P15-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/katsinis.photo/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P16.jpg" alt="5-3">
        <h3>Alena Sysoeva
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P16-1.webp" alt="Wedding 1">
          <img src="/img/P16-2.webp" alt="Wedding 2">
          <img src="/img/P16-3.webp" alt="Wedding 3">
          <img src="/img/P16-4.webp" alt="Wedding 4">
          <img src="/img/P16-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/alyona.sysoeva.7/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94759936332&text=Hello+Alena%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+akademism.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P17.jpg" alt="5-3">
        <h3>Maryana Sharabura
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P17-1.webp" alt="Wedding 1">
          <img src="/img/P17-2.webp" alt="Wedding 2">
          <img src="/img/P17-3.webp" alt="Wedding 3">
          <img src="/img/P17-4.webp" alt="Wedding 4">
          <img src="/img/P17-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/LankaWeddingAndHoliday">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P18.jpg" alt="5-3">
        <h3>Madush Malpathi
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P18-1.webp" alt="Wedding 1">
          <img src="/img/P18-2.webp" alt="Wedding 2">
          <img src="/img/P18-3.webp" alt="Wedding 3">
          <img src="/img/P18-4.webp" alt="Wedding 4">
          <img src="/img/P18-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/malpathi/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94755815217&text=Hello+Madush%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+madushmalpathi.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P19.jpg" alt="5-3">
        <h3>Birendra Fernando
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P19-1.webp" alt="Wedding 1">
          <img src="/img/P19-2.webp" alt="Wedding 2">
          <img src="/img/P19-3.webp" alt="Wedding 3">
          <img src="/img/P19-4.webp" alt="Wedding 4">
          <img src="/img/P19-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/birendraBF/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>
        </a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94755815217&text=Hello+Madush%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+madushmalpathi.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/P20.jpg" alt="5-3">
        <h3>
          Rusiru Madhawa
          </h3>
        
        <div class="gallery-linksitesosh">
          <img src="/img/P20-1.webp" alt="Wedding 1">
          <img src="/img/P20-2.webp" alt="Wedding 2">
          <img src="/img/P20-3.webp" alt="Wedding 3">
          <img src="/img/P20-4.webp" alt="Wedding 4">
          <img src="/img/P20-5.webp" alt="Wedding 5">
        </div>
        <a href="https://www.facebook.com/rusiruphotography/">
          <button style="background-color: red; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
            <b>Visit Facebook Page</b>
          </button>e</a><br><br>
        <a class="btn-linksitesosh" 
        href="https://api.whatsapp.com/send/?phone=94776644602&text=Hello+Rusiru%21+I+liked+your+portfolio+on+MyWed+%E2%80%93+rusiru.mywed.com.+May+I+find+out+more+about+your+services%3F&type=phone_number&app_absent=0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" style="width: 20px; height: 24px;">  WhatsApp</a>
      </div>
      
    
    </section>
  </main>
</body>
</html>