<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Low Country Dancing Groups</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <style>
      .hero-linksitesosh {
  position: relative;
  height: 70vh; /* or any height you want */
  background: url("/img/LD bg.jpg") no-repeat center center;
  background-size: 100% 100%; /* full height, auto width */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-linksitesosh {
      
    background-color: #e93c44;
  }
  .card-linksitesosh img {
    width: 100%;
    border-radius: 10px;
    height: 175px;
    margin-bottom: 1rem;
  }
        .gallery-linksitesosh {
          margin-top: 20px;
          display: flex;
          overflow-x: auto;
          gap: 10px;
          padding-bottom: 10px;
        }
    
        .gallery-linksitesosh img {
          height: 200px;
          width: auto;
          border-radius: 10px;
          flex-shrink: 0;
        }</style>
    
    <section class="hero-linksitesosh">
      
      <div class="hero-content-linksitesosh">
        <h1>Low Country Dancing Groups</h1>
        
    
      </div>
    </section>
  </header>

  <main>
    <section class="description-linksitesosh" id="more">
      
    </section>

    <section class="features-linksitesosh">

      <div class="card-linksitesosh">
        <img src="/img/LD-1.JPG" alt="5-1">
        <h3>THUSHARA Dancing Academy </h3>
      
        
        <a class="btn-linksitesosh" href="https://www.facebook.com/ThusharaDancingAcademy/">Visit Facebook Page</a>
      </div>

      <div class="card-linksitesosh">
        <img src="/img/KD-2.PNG" alt="5-1">
        <h3>Budawatta Dance Troupe</h3>
      
        
        <a class="btn-linksitesosh" href="https://budawattadancetroupe.com/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/KD-3.PNG" alt="5-1">
        <h3>Uma Dancing Academy</h3>
      
        
        <a class="btn-linksitesosh" href="http://www.umadancing.com/">Visit Website</a>
      </div>
      
      <div class="card-linksitesosh">
        <img src="/img/Low Country Dance.jpeg" alt="5-1">
        <h3>Waruna Mangala Mandiraya</h3>
      
        
        <a class="btn-linksitesosh" href="https://www.warunamangalamandiraya.com/packages.html">Visit Website</a>
      </div>

      
      

      
      

      
    </section>
  </main>
</body>
</html>