<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Photographers</title>
  <style>
    body {
      font-family: 'MonterchiTextBook';
      margin: 0;
      background: rgb(219, 217, 217);
    }

    .hero {
      height: 60vh;
      background: url("img/photographer_hero.jpg") no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 4px #000;
    }

    .hero h1 {
      font-size: 60px;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }

    .card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 280px;
      margin: 15px;
      text-align: center;
      padding: 20px;
    }

    .card img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }

    .card h3 {
      margin-top: 10px;
      font-size: 20px;
    }

    .btn {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 15px;
      background-color: #1877f2;
      color: white;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

    .btn img {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-right: 5px;
    }
  </style>
</head>
<body>


    <section class="hero">
      <div class="hero-content">
        <h1>Photographers</h1>
      </div>
    </section>
 

  <main>
    <section class="features">
        <div class="card">
            <img src="img/photographer0.jpg" alt="Danushka Senadeera Photography">
            <h3>Danushka Senadeera Photography</h3>
            <a class="btn" href="https://www.facebook.com/share/1BPmFUW1R5/" target="_blank">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
            </a>
          </div>

          <div class="card">
            <img src="img/photographer00.jpg" alt="Dark Room">
            <h3>Dark Room</h3><br>
            <a class="btn" href="https://www.facebook.com/share/16HGr68DkL/" target="_blank">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
            </a>
          </div>

      <div class="card">
        <img src="img/photographer1.jpg" alt="Chamindu Gunarathna Photography ">
        <h3>Chamindu Gunarathna Photography </h3>
        <a class="btn" href="https://www.facebook.com/share/16Syt1W6DZ/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer2.jpg" alt="Methmal Jayasinghe Photography ">
        <h3>Methmal Jayasinghe Photography </h3>
        <a class="btn" href="https://www.facebook.com/share/1671S4zGyp/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer3.jpg" alt="Sujith Nuwanpriya Photography">
        <h3>Sujith Nuwanpriya Photography</h3>
        <a class="btn" href="https://www.facebook.com/share/191q4vrCrE/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer4.jpg" alt="Thisara Piumika Photography ">
        <h3>Thisara Piumika Photography </h3>
        <a class="btn" href="https://www.facebook.com/share/1LSTfXxYby/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer5.jpg" alt="Josh Photography">
        <h3>Josh Photography</h3><br>
        <a class="btn" href="https://www.facebook.com/share/1BakzyP6pJ/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer6.jpg" alt="Sasindu Malsha Photography">
        <h3>Sasindu Malsha Photography</h3>
        <a class="btn" href="https://www.facebook.com/share/16AKiURG2D/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer7.jpg" alt="Shan Events photography">
        <h3>Shan Events photography</h3><br>
        <a class="btn" href="https://www.facebook.com/share/15CE6yS5Qt/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer8.jpg" alt="DM Portrait">
        <h3>DM Portrait</h3><br>
        <a class="btn" href="https://www.facebook.com/share/1DrQ3hEMpd/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer9.jpg" alt="Mithun Wickramathilaka Photography">
        <h3>Mithun Wickramathilaka Photography</h3>
        <a class="btn" href="https://www.facebook.com/share/12JN5psXE1e/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer10.jpg" alt="D Studio">
        <h3>D Studio</h3><br>
        <a class="btn" href="https://www.facebook.com/share/19PtfYJ8iJ/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer11.jpg" alt="FOCUS Studio">
        <h3>FOCUS Studio</h3><br>
        <a class="btn" href="https://www.facebook.com/share/1BQcUHQFnF/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer12.jpg" alt="U 𝚗 𝚌 𝚘 𝚖 𝚖 𝚘 N PhotographY">
        <h3>U 𝚗 𝚌 𝚘 𝚖 𝚖 𝚘 N PhotographY </h3><br>
        <a class="btn" href="https://www.facebook.com/profile.php?id=100063657642562&mibextid=ZbWKwL" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer13.jpg" alt="Amore In Focus">
        <h3>Amore In Focus</h3><br>
        <a class="btn" href="https://www.facebook.com/share/16QUGpubP6/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer14.jpg" alt="Yenura Dhananjaya">
        <h3>Yenura Dhananjaya</h3><br>
        <a class="btn" href="https://www.facebook.com/share/1AAKQnXDxx/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer15.jpg" alt="Shehan Chathurange Photography ">
        <h3>Shehan Chathurange Photography</h3>
        <a class="btn" href="https://www.facebook.com/share/18kHwFPaV8/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer16.jpg" alt="Mahen.lk Photography">
        <h3>Mahen.lk Photography</h3><br>
        <a class="btn" href="https://www.facebook.com/share/19iV3NTtky/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer17.jpg" alt="Hesara Hewagamage Photography">
        <h3>Hesara Hewagamage Photography</h3>
        <a class="btn" href="https://www.facebook.com/share/1BmzP7XyzP/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer18.jpg" alt="Proclix photography">
        <h3>Proclix photography</h3><br>
        <a class="btn" href="https://www.facebook.com/profile.php?id=100070765912740&mibextid=ZbWKwL" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer19.jpg" alt="Kanchana Prabod Photography">
        <h3>Kanchana Prabod Photography</h3>
        <a class="btn" href="https://www.facebook.com/share/19855SUJ9B/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

      <div class="card">
        <img src="img/photographer20.jpg" alt="Kavishka Dinushan Photography">
        <h3>Kavishka Dinushan Photography</h3>
        <a class="btn" href="https://www.facebook.com/kavishkadinushanphotography.lk?mibextid=ZbWKwL" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""> Facebook
        </a>
      </div>

    </section>
  </main>
</body>
</html>
