<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Temples / Churches / Kovils</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <section class="hero-section-tempkovchur">
    <div class="hero-image-wrapper-tempkovchur">
      <img src="/img/hero-temple.jpg" alt="Spiritual Blessings" class="hero-image-tempkovchur" />
      <div class="hero-text-tempkovchur">
        <h1>Temples / Church / Kovils</h1>
        <p class="hero-subtext-tempkovchur"><i>Embracing diverse spiritual traditions under one sacred vision.</i></p>
      </div>
    </div>
  </section>

  <section class="category-section-tempkovchur">
    <h2 class="category-title-tempkovchur">Temples</h2>
    <div class="card-container-tempkovchur">
      <div class="place-card-tempkovchur">
        <img src="/img/temple1.jpg" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Gangaramaya Temple</h3>
          <p>Colombo, Sri Lanka</p>
        </div>
      </div>
      <div class="place-card-tempkovchur">
        <img src="/img/temple2.jpg" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Temple of the Sacred Tooth Relic</h3>
          <p>Kandy, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/temple3.jpg" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Kelaniya Raja Maha Viharaya</h3>
          <p>Kelaniya, Sri Lanka</p>
        </div>
    </div>

      <div class="place-card-tempkovchur">
        <img src="/img/temple4.webp" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Jaya Sri Maha Bodhi</h3>
          <p>Anuradhapura, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/temple5.webp" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Ruwanweliseya Stupa</h3>
          <p>Anuradhapura, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/temple6.jpg" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Mihintale Temple</h3>
          <p>Mihintale, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/temple7.webp" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Dambulla Cave Temple</h3>
          <p>Dambulla, Sri Lanka</p>
        </div>
      </div>
    

    <div class="place-card-tempkovchur">
        <img src="/img/temple8.jpg" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Bellanwila Raja Maha Viharaya</h3>
          <p>Bellanwila, Sri Lanka</p>
        </div>
      </div>
   

    <div class="place-card-tempkovchur">
        <img src="/img/temple9.webp" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Kaluthara Temple</h3>
          <p>Kaluthara, Sri Lanka</p>
        </div>
      </div>
  

    <div class="place-card-tempkovchur">
        <img src="/img/temple10.webp" alt="Temple">
        <div class="place-info-tempkovchur">
          <h3>Nagadeepa Raja Maha Viharaya</h3>
          <p>Jaffna, Sri Lanka</p>
        </div>
      </div>
    </div>

    <hr class="category-separator-tempkovchur" />



    <h2 class="category-title-tempkovchur">Churches</h2>
    <div class="card-container-tempkovchur">
      <div class="place-card-tempkovchur">
        <img src="/img/church1.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>St. Mary’s Cathedral</h3>
          <p>Negombo, Colombo</p>
        </div>
      </div>
      <div class="place-card-tempkovchur">
        <img src="/img/church2.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>Wolvendaal Church</h3>
          <p>Pettah, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church3.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>Holy Cross Church</h3>
          <p>Kaluthara, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church4.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>St. Lucia's Cathedral </h3>
          <p>Colombo, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church5.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3> St. Mary’s Cathedral</h3>
          <p>Jaffna, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church6.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>St. Mary’s Cathedral</h3>
          <p>Galle, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church7.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>St. Mary's Church</h3>
          <p>Trincomalee, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church8.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>Basilica of our Lady of Lanka</h3>
          <p>Thewatta, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church9.jpg" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>St. Anthony’s Cathedral</h3>
          <p>Kandy, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/church10.webp" alt="Church">
        <div class="place-info-tempkovchur">
          <h3>St. Anthony's Shrine</h3>
          <p>Kochchikade, Sri Lanka</p>
        </div>
      </div>
    </div>

    <hr class="category-separator-tempkovchur" />


    <h2 class="category-title-tempkovchur">Kovils</h2>
    <div class="card-container-tempkovchur">
      <div class="place-card-tempkovchur">
        <img src="/img/kovil1.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Munneswaram Kovil</h3>
          <p>Chilaw, Sri Lanka</p>
        </div>
      </div>
      <div class="place-card-tempkovchur">
        <img src="/img/kovil2.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Thirukoneswaram Kovil</h3>
          <p>Trincomalee, Sri Lanka</p>
        </div>
      </div>

      

      <div class="place-card-tempkovchur">
        <img src="/img/kovil3.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Sri Kaileswaram Kovil</h3>
          <p>Colombo, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil4.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Sri Ponnambalavaneswarar Kovil</h3>
          <p>Colombo, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil5.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Seetha Amman Kovil</h3>
          <p>Seetha Eliya, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil6.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Kathiresan Pillayar kovil </h3>
          <p>Colombo, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil7.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Sri Muthumari Amman Kovil</h3>
          <p>Matale, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil8.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Nallur Kandaswamy kovill</h3>
          <p>Jaffna, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil9.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Madampe Sri Murugan Kovil</h3>
          <p>Madampe, Sri Lanka</p>
        </div>
      </div>

      <div class="place-card-tempkovchur">
        <img src="/img/kovil10.jpg" alt="Kovil">
        <div class="place-info-tempkovchur">
          <h3>Sri Muthumariamman Thevasthanam Kovil</h3>
          <p>Colombo, Sri Lanka</p>
        </div>
      </div>
     </div>
  </section>

 

</body>
</html>
